asgiref==3.3.1
asn1crypto==0.24.0
blinker==1.4
cachetools==4.2.2
certifi==2020.6.20
chardet==3.0.4
click==8.0.1
cycler==0.10.0
dataclasses==0.6
defer==1.0.4
Django==3.1.7
django-crispy-forms==1.11.1
docopt==0.6.2
docutils==0.16
google-api-core==1.28.0
google-api-python-client==2.7.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gTTS==2.2.2
httplib2==0.19.1
idna==2.6
importlib-metadata==2.0.0
launchpadlib==1.10.6
oauth==1.0.1
oauthlib==2.0.6
olefile==0.45.1
packaging==20.4
pkginfo==1.5.0.1
protobuf==3.17.1
pygobject==3.26.1
pyRFC3339==1.0
python-apt==1.6.4
python-dateutil==2.8.1
python-debian==0.1.32
readme-renderer==26.0
reportlab==3.4.0
requests==2.24.0
requests-oauthlib==0.8.0
requests-toolbelt==0.9.1
requests-unixsocket==0.1.5
rfc3986==1.4.0
rsa==4.7.2
SecretStorage==3.1.2
SimpleWebSocketServer==0.1.1
ssh-import-id==5.7
system-service==0.3
systemd-python==234
threadpoolctl==2.1.0
typing-extensions==3.10.0.0
tzlocal==2.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.22
usb-creator==0.3.3
ushlex==0.99.1
wadllib==1.3.2
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==2.0.1
xkit==0.0.0zipp==3.2.0
